<div class="pip-file-select">
      <form id="inp_form" class="pip-hidden-form">
        <input type="file" file-model="$ctrl.localFile" id="inp_file" ng-model="$ctrl.localFile"></input>
      </form>
        <md-button class="md-raised md-accent pip-button"
                   ng-click="$ctrl.onUploadButtonClick()" 
                   ng-if="!$ctrl.localFile">Choose File</md-button>
        <div ng-if="$ctrl.localFile.name" class="pip-file layout-row layout-align-start-center">
          <md-icon md-svg-icon="icons:document" class="pip-icon"></md-icon>
            <div class="flex">
                <div class="text-body2 text-overflow">
                    {{$ctrl.localFile.name}}
                </div>
                <div ng-if="$ctrl.localFile.size" class="color-secondary-text">{{$ctrl.localFile.size}}</div>
            </div>
            <md-button ng-click="$ctrl.onDeleteButtonClick()" class="md-icon-button">
              <md-icon md-svg-icon="icons:cross-circle"></md-icon>
            </md-button>
        </div>
</div>