<div class="pip-file-select">
      <form id="inp_form" class="pip-hidden-form">
        <input type="file" file-model="vm.localFile" id="inp_file" ng-model="vm.localFile"></input>
      </form>
        <md-button class="md-raised md-accent pip-button"
                   ng-click="vm.onUploadButtonClick()" 
                   ng-if="!vm.localFile">Choose File</md-button>
        <div ng-if="vm.localFile.name" class="pip-file layout-row layout-align-start-center">
          <md-icon md-svg-icon="icons:document" class="pip-icon"></md-icon>
            <div class="flex">
                <div class="text-body2 text-overflow">
                    {{vm.localFile.name}}
                </div>
                <div ng-if="vm.localFile.size" class="color-secondary-text">{{vm.localFile.size}}</div>
            </div>
            <md-button ng-click="vm.onDeleteButtonClick()" class="md-icon-button">
              <md-icon md-svg-icon="icons:cross-circle"></md-icon>
            </md-button>
        </div>
</div>