<div class="pip-files pip-progress-files">
  <div class="pip-body pip-scroll pip-progress-body"> 
    <div class="layout-row">
        <div class="pip-progress-icon bb-orange">
            <md-icon md-svg-icon="icons:play"></md-icon>
        </div>
        <div class="pip-progress-content">
            <h3 class="pip-title">
                Uploading {{::vm.type}}
            </h3>
            <div class="color-secondary-text pip-subtitle">
                {{vm.name}}
            </div>
            <div>
                <md-progress-linear md-mode="determinate" 
                    class="md-accent" 
                    value="{{vm.progress}}" 
                    ng-if="vm.progress < 100">
                </md-progress-linear>
                <md-progress-linear md-mode="indeterminate" 
                    class="md-accent" 
                    ng-if="vm.progress == 100">
                </md-progress-linear>
            </div>
        </div>
    </div>
  </div>
  <div class="pip-footer layout-row layout-align-end-center" ng-if="vm.buttons">
        <div>
            <md-button class="md-accent" 
                       ng-repeat="start in vm.buttons" ng-click="start.click()">
                {{start.title}}
            </md-button>
        </div>
    </div>  
</div>