<div class="flex" ng-if="!onGlobalProgress()">
    <pip-file-select local-file="localFile"></pip-file-select>
</div>
<div class="flex" style='border: 1px solid rgba(0, 0, 0, 0.12);' ng-if="onGlobalProgress()">
      <pip-file-upload  
            pip-state="onGlobalProgress()"
            pip-progress="onLocalProgress()"
            pip-button-functions="buttonFunctions"
            pip-name="localFile.name"> </pip-file-upload>
</div>

<md-button ng-click="onOk()">
    Upload
</md-button>

<div>
    {{message}}
</div>