<div class="pip-files">
  <div class="pip-body pip-scroll" style =" padding: 16px"> 
    <div class="layout-row">
        <div style="width: 30px; height: 30px; border-radius: 50%; margin-right: 16px" class=""
         ng-class="{'color-badge-bg': vm.globalProgress() == 'fail',
                    'bb-orange': vm.globalProgress() == 'start',
                    'bb-green': vm.globalProgress() == 'upload' }">
            <md-icon md-svg-icon="icons:check" ng-if="vm.globalProgress() == 'upload'" style="color: #fff !important; margin: 4px"></md-icon>
            <md-icon md-svg-icon="bootbarn-icons:play" ng-if="vm.globalProgress() == 'start'"  style="color: #fff !important; margin: 4px"></md-icon>
            <md-icon md-svg-icon="icons:cross" ng-if="vm.globalProgress() == 'fail'"  style="color: #fff !important; margin: 4px"></md-icon>
        </div>
        <div style="width: 100%">
            <h3 style="margin-top: 4px; margin-bottom: 8px" ng-if="vm.globalProgress() == 'start'">Uploading {{vm.type}}</h3>
            <h3 style="margin-top: 4px; margin-bottom: 8px"  ng-if="vm.globalProgress() == 'upload'">Uploaded {{vm.type}} successfully!</h3>
            <h3 style="margin-top: 4px; margin-bottom: 8px"  ng-if="vm.globalProgress() == 'fail'">Uploading {{vm.type}} failed with errors!</h3>
            <div class="color-secondary-text" style="word-break: break-word; margin-top: 0px; margin-bottom:8px">{{vm.name}}</div>
            <div class="color-error" style="word-break: break-word; margin-top: 0px;"
                 ng-if="vm.globalProgress() == 'fail'">{{vm.errorFail()}}</div>

            <div ng-if="vm.globalProgress() == 'start'">
                <md-progress-linear md-mode="determinate" class="md-accent" value="{{vm.localProgress()}}" ng-if="vm.localProgress() < 100"></md-progress-linear>
                <md-progress-linear md-mode="indeterminate" class="md-accent" ng-if="vm.localProgress() == 100"></md-progress-linear>
            </div>
        </div>
    </div>
  </div>
  <div class="pip-footer layout-row layout-align-end-center">
        <div>
            <md-button class="md-accent" ng-click="vm.onCancel()" ng-show="!vm.globalProgress() || vm.globalProgress() == 'fail'">Cancel</md-button>

            <md-button class="md-accent" ng-click="vm.onRetry()" ng-show="vm.globalProgress() == 'fail'">
                Retry
            </md-button>
            <md-button class="md-accent" ng-click="vm.abort()" ng-show="vm.globalProgress() == 'start'">
                Abort
            </md-button>
        </div>
    </div>  
</div>