<div>
    <pip-succes-upload 
        ng-if="vm.state == 'upload'"
        pip-name="vm.name" 
        pip-type="vm.type" 
        pip-buttons="vm.buttons"></pip-succes-upload>
    <pip-fail-upload 
        ng-if="vm.state == 'fail'"
        pip-name="vm.name" 
        pip-type="vm.type" 
        pip-error="vm.error"
        pip-buttons="vm.failButtons"></pip-fail-upload>

<pip-start-upload 
        ng-if="vm.state == 'start'"
        pip-name="vm.name" 
        pip-type="vm.type" 
        pip-progress="vm.progress"
        pip-buttons="vm.startButtons"></pip-start-upload>
</div>