<div>
      <form id="inp_form" style = "display: none">
        <input type="file" file-model="vm.localFile" id="inp_file" ng-model="vm.localFile"></input>
      </form>
        <md-button class="md-raised md-accent" style="margin: 0; width: 100%" 
                   ng-click="vm.onUploadButtonClick()" 
                   ng-if="!vm.localFile">Choose File</md-button>
        <div ng-if="vm.localFile.name" class="layout-row layout-align-start-center" 
          style=" height: 60px;  border-radius: 2px; background-color: rgba(0, 0, 0, 0.08);">
          <md-icon md-svg-icon="icons:document" style="margin-right: 16px; margin-left: 12px;"></md-icon>
            <div class="flex">
                <div class="text-body2 text-overflow">
                    {{vm.localFile.name}}
                </div>
                <div ng-if="vm.localFile.size" class="color-secondary-text">{{vm.localFile.size}}</div>
            </div>
            <md-button ng-click="vm.onDeleteButtonClick()" class="md-icon-button">
              <md-icon md-svg-icon="icons:cross-circle"></md-icon>
            </md-button>
        </div>
</div>