// @file CSS styles for file progress
// @copyright Digital Living Software Corp. 2014-2016

.pip-progress-files {

    .bb-green {
        background-color: #7f945c;
    }

    .bb-orange {
        background-color: #ff9800;
    }

    .pip-progress-body {
        padding: 16px;
    }
    .pip-progress-icon {
        width: 30px; 
        height: 30px; 
        border-radius: 50%; 
        margin-right: 16px;

        md-icon {
            color: #fff !important; 
            margin: 3px;
        }
    }
    .pip-progress-content {
        width: 100%;

        .pip-title {
            margin-top: 4px; 
            margin-bottom: 8px;
        }
        .pip-subtitle {
            word-break: break-word; 
            margin-top: 0;
            margin-bottom:8px;
        }
        .pip-error {
            word-break: break-word; 
            margin-top: 0;
        }

    }
}