<div class="pip-files pip-progress-files">
  <div class="pip-body pip-scroll pip-progress-body"> 
    <div class="layout-row">
        <div class="pip-progress-icon color-badge-bg">
            <md-icon md-svg-icon="icons:cross"></md-icon>
        </div>
        <div class="pip-progress-content">
                 <h3 class="pip-title">
                Uploading {{$ctrl.type}} failed with errors!
            </h3>
            <div class="color-secondary-text pip-subtitle">
                {{$ctrl.name}}
            </div>
            <div class="color-error pip-error">
                 {{$ctrl.error}}
            </div>

        </div>
    </div>
  </div>
  <div class="pip-footer layout-row layout-align-end-center" ng-if="$ctrl.buttons && $ctrl.buttons.length > 0">
        <div>
           <md-button class="md-accent" 
                       ng-repeat="fail in $ctrl.buttons" ng-click="fail.click()">
                {{::fail.title}}
            </md-button> 
        </div>
    </div>  
</div>