<div>
    <pip-succes-upload 
            ng-if="$ctrl.state == 1 && (!$ctrl.buttons || $ctrl.uploadButtons)"
            pip-name="$ctrl.name" 
            pip-type="$ctrl.type" 
            pip-buttons="$ctrl.buttons"></pip-succes-upload>
    <pip-fail-upload 
            ng-if="$ctrl.state == 2"
            pip-name="$ctrl.name" 
            pip-type="$ctrl.type" 
            pip-error="$ctrl.error"
            pip-buttons="$ctrl.failButtons"></pip-fail-upload>

    <pip-start-upload 
            ng-if="$ctrl.state == 0"
            pip-name="$ctrl.name" 
            pip-type="$ctrl.type" 
            pip-progress="$ctrl.progress"
            pip-buttons="$ctrl.startButtons"></pip-start-upload>
</div>