// @file Composition of dialog CSS styles
// @copyright Digital Living Software Corp. 2014-2016

@import "css_light/css_light";

@import "dependencies/ref_item";
@import "dependencies/ref_list";
@import "dependencies/selectable";


.pip-files {
    .pip-footer {
        padding-left: 12px;
        padding-right: 10px;
        border-top: @divider-border; 
        position: relative;
        .flex();
        .flex-direction(row);
        min-height: 56px;

        .md-button {
            min-width: 48px;
            margin: 4px;
        }
    }    

}