@import "css_light/index";
@import "upload/FileUpload";
@import "select/FileSelect";

.pip-files {
    .pip-footer {
        padding-left: 12px;
        padding-right: 10px;
        border-top: $divider-border; 
        position: relative;
        @include flex();
        @include flex-direction(row);
        min-height: 56px;

        .md-button {
            min-width: 48px;
            margin: 4px;
        }
    }    
}